<%= form_with(model: [ commentable, Comment.new ]) do |form| %>
  <%= form.hidden_field :commentable_type, value: commentable_type_name %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
