<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<%= render 'shared/comments', commentable: @report %>

<p>この記事は以下の記事からリンクされています</p>
<div class="show-item">
  <% @report.mentioned_reports.each do |mentioned_report| %>
    <p><%= link_to mentioned_report[:title], mentioned_report %><span>からリンク</span></p>
  <% end %>
</div>

<nav class="page-nav">
  <% if @report.editable?(current_user) %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <% if @report.editable?(current_user) %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>
</nav>
